<div class="text-center">
  <h1>Team Page</h1>
  <ul class="list-inline text-center">
    <% ["anne", "seb", "romain"].each do |member| %>
      <li>
        <%= image_tag "#{member}.jpg", class: "avatar-large" %>
        <h3><%= member.capitalize %></h3>
      </li>
    <% end %>
  </ul>
</div>
